
body{
     margin:0;
     padding:0;
     outline:none;
}
 .header{
	 background:#808080;
     height:100px;
     width:100%;
     position:fixed;
     z-index:2;	 
 }
 .inn-header{
	 /* position:absolute; */
	 /* top:1px; */
	 display: flex;
	 align-items: center;
	 height: 100%;
 }
 .logo{
	 /* position:absolute; */
	 /* top:90px; */
	 /* left:5px; */
 }
 
 .content{
	 background:#ADFF2F;
	 min-height:1000px;
	 width:100%;
	 /* float:left; */
	 padding-left:50px;
	 padding-right:50px;
	 padding-bottom:4px;
	 padding-top:150px;
	 box-sizing: border-box;
 }
 .inn-content{
	 position:absolute;
	 top:25px;
	 right:100px;
	 
 }
 .stat{
	 padding-left:5px;
	 margin-right:50px;
	 font-family:helvetica;
	 background-color:#9ACD32;
 }
 .dinn{
	 position:relative;
	 z-index:1;
	 right:1px;}
 
 .footer{
	 background:#808080;
	 height:100px;
	 width:100%;
	 /* position:relative; */
	 /* bottom:-1100px; */
	 margin:0;
     padding:0;
    
 }
 